@import 'nib'

$borderColor = #dddddd
$hoverColor = #ffffff
$hoverSize = 20px

.button
    padding: 5px
    min-width: 96px
    height: 32px

    appearance: none
    background: none
    border: 1px solid $borderColor
    border-radius: 5px

    line-height: 20px
    text-align: center

    &:hover
        border-color: $hoverColor
        box-shadow: 0 0 $hoverSize $hoverColor, 0 0 $hoverSize $hoverColor inset

    &.iconButton
        width: 24px
        min-width: 24px
        height: 24px

        line-height: 12px
