$foregroundColor = rgba(200, 200, 255, 0.99)
$bloomColor = rgba(0, 0, 255, 1)

.outerContainer
    transform: translate3d(256px, 256px, 0)
    transform-origin: 50% 50%
    perspective-origin: left center

.background
    fill: #000000
    stroke: none

.foreground
    fill: none
    stroke: $foregroundColor
    stroke-width: 2px

    text
        fill: $foregroundColor
        stroke: none

.bloom
    fill: none
    stroke: $bloomColor
    stroke-width: 4px
    filter: url(#filter-bloom)

    text
        fill: $bloomColor
