@import 'nib'
@import './align'

.overlayPanel
    @extends .fill

    position: absolute
    top: 0
    left: 0

    width: 100%
    height: 100%

    display: flex
    overflow: hidden

    & > *
        flex: 1 1 0;
        color: #ffffff

    & > :first-child,
    & > :last-child
        flex: 0 0 auto
        padding: 5px

        background-color: rgba(0, 0, 0, 0.25)
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25)
